
@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userInfo = ViewBag.UserInfo;
    var recipes = ViewBag.recipeInfo;
}

@model HomeBrewing.Models.RecipeViewModels.CreateRecipeViewModel

<h2>UserDetail</h2>
<hr />
<div></div>
<b>Name : @userInfo.Name</b>
<br />
<b>Surname: @userInfo.Surname</b>
<br />
<b>Email: @userInfo.UserName</b>
<br />
<b>UserId: @userInfo.Id</b>

<br />

@if (userInfo.PrivateAccount == 1)
{
    <b>This Account is private</b>
}
else
{
    <b>This account is public</b>

}

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Created Date</th>
            <th>Details</th>
            
           

        </tr>
        @foreach (var item in recipes)
        {

            <tr>
                
                <td> @item.Title</td>
                <td>@item.CreatedDate</td>
                <td><a class="btn btn-info" href="/Recipe/RecipeDetail/@item.Id">Details</a></td>
                
               

            </tr>
        }


    </table>
    </div>
    <div class="col-md-2"></div>

</div>
