
@{
    ViewData["Title"] = "RecipeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Recipe = ViewBag.Recipe;
    var Ingredient = ViewBag.Ingredient;
    var UserNames = ViewBag.Usernames;
    var Comments = ViewBag.Comments;
}

<h2>RecipeDetail</h2>
<hr />


<div class="row">
<div class="float-left"  ></div>

    <div class="float-left" >

            @{  <b>Title: </b>@Recipe.Title
                <br />
                <b>Detail: </b>@Recipe.Details
               
                <br />
                <b>Created Date:</b> @Recipe.CreatedDate
                <br />
                <b>Last Edited Date: </b>@Recipe.EditedDate

                <br />
                <br />
                <b>Ingredients: </b>
                <br />

                foreach (var item in Ingredient)
                {
                    <b>Name:</b> @item.Name
                    <b>Quantity:</b>@item.Quantity
                    @:&nbsp;
                    @item.MeasurementUnit

                    <br />


                }
                <br />
                <br />
            }
        
        </div>

    

    </div>

<div class="row">
<div class="float-left"  ></div>
<b>Comments: </b>
    <div class="float-left">

            @{  
                for(var i=0; i < Comments.Count; i++)
                {
                    <b>@UserNames[i]:</b> @Comments[i].Comment
                    @:&nbsp;
                    

                    <br />


                }

            }
        
        </div>

   

    </div>
<br />
    <form asp-controller="Recipe" asp-action="Comment" method="post">

        <div class="form-group">
                     
            <label>Add your comment:</label>
            <textarea class="form-control" name="_comment" id="comment"></textarea>

            <br />
            <input class="form-control" type="hidden" name="_recipeId" value= "@Recipe.Id" />
            <input class="btn btn-success" type="submit" value="Send" />
        </div>
        
    </form>





